@import url(css/navbar.css);
@import url(css/header.css);
@import url(css/projetos.css);
:root {
    --main-white: #FFFFFF;
    --main-font: 'Inter';
    --main-font-color: #667085;
    --main-red: #8E2424;
    --black:#101828;
}

body{
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 1.5em;
}