.projects{
    display: flex;
    padding: 0 2em 3em 2em;
    justify-content: space-around;
}
.number__projects{
    color: var(--main-red);
    font-size: 60px;
    margin: 0;
}
.project{
    text-align: left;
    width: 280px;
}

.text__project{
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
    margin: 1em 0;
}

